* { box-sizing: border-box; }

body {
    background-color: #232323;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section.card {
    background-color: #2c2c2c;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
    width: 55%;
    text-align: left;
}

main section {
    text-align: center;
    margin: auto;
}

.avatar1 {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    margin: 12px;
}

.avatar2 {
    position: relative;
    height: 120px;
    text-align: right;
    font-size: 50px;
    background-color: #3e3e3e;
    border-radius: 10px;
    width: 480px;
    padding: 30px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

section table, section table td, section table th {
    border: 1px white solid;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}
form fieldset {
    width: 50%;
    margin: auto;
}

#color {
    width: 50px;
    height: 50px;
}